/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --subtitle-color: #000028;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --header-title-shadow: #FF0070;
  --text-color: #F1B2CE;
  --border-style: 1px solid #FF0070;
  --border-style__hover: 1px solid #F1B2CE;
  --menu-button-color: #ff0070;
  --section-title-color: #FF0070;
}

.theme-dark .header__decor {
  display: inline-flex;
}