/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
h2,
h3,
h4 {
  font-size: inherit;
}

.page {
  color: var(--text-color);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: start; 
  padding: var(--padding);
  block-size: max(668px, 100vb);
}

.header__decor {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 18px;
}

.header__decor::after {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header::after,
.footer::after {
  content: "";
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: var(--padding);
  inset-block-end: var(--padding);
}

.header::before,
.footer::before {
  content: "";
  position: absolute;
  display: block;
  border-inline-end: var(--border-style);
  border-block-start: var(--border-style);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: var(--padding);
  inset-block-start: var(--padding);
}

.header__theme-menu {
  margin-block-start: var(--menu-margin);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__theme-menu-button {
  border: none;
  padding: 0px 13px;
  color: var(--menu-button-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: var(--border-style);
}

.header__title {
  justify-self: start;
  color: var(--header-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--header-title-shadow);
}

.header__description {
  align-self: center;
}

.title-decor {
  color: var(--header-description-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: var(--main-padding-block) var(--padding);
}

.question-section {
  display: grid;
  gap: 19px;
}

.question-section__title {
  color: var(--text-color);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.regular {
  font-weight: 400;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.question-section.gallery {
  display: grid;
  grid-template-rows: auto 142px 355px 237px 355px 237px;
  gap: 10px;
}

.gallery__image {
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  block-size: max(668px, 100vb);
}

.footer__content {
  padding: var(--padding);
  color: var(--header-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

@media (min-width: 768px) {
  :root {
    --padding: 20px;
    --main-padding-block: 60px;
    --main-gap: 80px;
    --menu-margin: 170px;
  }

  .header {
    height: 100%;
    min-block-size: max(1024px, 100vb);;
  }

  .header__decor {
    inset-block-start: 21px;
    inset-inline-end: 30px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  
  .header__description {
    max-inline-size: 491px;
    align-self: center;
  }

  .header__description {
    margin-block: 0;
    max-inline-size: 365px;
  }

  .question-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px 40px;
  }

  .card {
    grid-column: 2/4;
  }
  .question-section--factors .card {
    grid-column: span 3;
  }

  .main {
    gap: 82px;
  }

  .question-section__description {
    grid-column: 2 / -1;
    align-self: start;
  }

  .question-section--advice .question-section__title {
    grid-row: span 2;
  }

  .question-section.gallery {
    grid-template-rows: auto 192px 230px 318px;
    gap: 21px;
  }

  .gallery__title {
    grid-column: span 3;
  }

  .gallery__image:nth-of-type(1) {
    grid-column: span 2;
  }

  .gallery__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: span 2;
  }

  .footer {
    block-size: max(1024px, 100vb);
  }
}

@media (min-width: 1024px) {
  :root {
    --main-padding-block: 60px;
    --menu-margin: 0;
  }

  .header {
    grid-template-rows: 1fr min-content 1fr;
    gap: 0;
    padding: var(--padding);
    min-block-size: max(768px, 100vb);
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu {
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__description {
    justify-self: end;
    align-self: center;
    max-inline-size: 491px;
  }

  .header__title {
    align-self: center;
    margin-inline-start: -20px;
  }

  .question-section {
    gap: 19px;
  }

  .question-section--factors {
    gap: 15px 19px;
  }

  .question-section--factors .card {
    grid-column: span 1;
    grid-row: 2 / 3;
  }

  .question-section.gallery {
    grid-template-rows: auto 260px 315px 436px;
    gap: 18px;
  }

  .footer {
    block-size: 768px;
  }

  .footer__content {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
