/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
h2, h3, h4 {
  font-size: inherit;
}

.page {
  background-image: var(--background-image);  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
}

.header {
  position: relative;
  block-size: max(668px, 100vb);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  gap: 10px;
  padding: var(--padding);
  align-items: start;
}

.header__decor {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 18px;
  color: var(--accent-color);
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.header__decor::after{
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header::after {
  content: "";
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--padding);
  inset-block-end: var(--padding);
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--padding);
  inset-block-start: var(--padding);
}


.header__theme-menu {
    margin-block-start: var(--menu-margin);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__theme-menu-button {
    border: none;
    padding: 0px 13px;
    color: var(--accent-color);
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
}

.header__description {
  /* align-self: start; */
  margin-block-start: 45px;
}

.title-decor {
  color: var(--header-description-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 40px var(--padding);
  gap: 50px;
}

.question-section {
  display: grid;
  gap: 19px;
}

.question-section__title {
  color: var(--accent-color);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.regular {
  font-weight: 400;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.question-section.gallery {
  display: grid;
  grid-template-rows: auto 142px 355px 237px 355px 237px;
  gap: 10px;
}

.gallery__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

